Input.error, TextArea.error {
  border-color: red;
}

Input:focus, TextArea:focus {
  border-color: #007eff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 0 3px rgba(0, 126, 255, 0.1);
  outline: none;

}
.input-feedback {
  color: red;
  margin-top: 0;
  font-size: 0.8rem;
}