.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin: 4rem 2rem 2rem;

}

.projects--list {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
}

.projects--list li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    /* width: 320px;
    height: 160px; */
    background-color: rgb(94, 88, 88);
}