.container--skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.container--skills--list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 1.8rem;
    /* background-color: #505152; */
    border-radius: 25px;
}

.container--skills--list--item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* color: #fff; */
}

.container--skills--list--item {
    font-weight: bold;
}

.container--skills--list--item img {
    margin-bottom: .5rem;
}